/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/* Home page */
body.front {padding-top: 60px;}
body.front h1{text-align: center; padding-bottom: 40px; color: #B32217;}
body.front #front-page-login{width: 400px; margin: 0 auto; padding-top: 40px; margin-bottom: 120px;}
body.front #front-page-login #edit-submit{width: 400px; border-color: #357EBD; color: white; background: #428BCA;}
body.front #front-page-login ul{ list-style: none; padding-left: 0;}
body.front #front-page-login ul a{ color: #bfbfbf;} /* Request new password link */

/* Override bootstrap conflict */
.fade {opacity: 1;}
#block-devel-execute-php .collapse {display: block;}

.footer { background: #333; color: #bfbfbf;}

.node-type-webform #site-header{padding-top: 40px;}
.node-type-webform .form-item{margin-bottom: 20px;}
.node-type-webform #edit-next{ background: #428bca; color: white; border-color: #357ebd; }